
<div class="body">
    <div class="fondo">
        <div>
            <img class="logoUIS" src="/assets/login/images.png">
        </div>
        <div class="caja-registro">
            <h2 class="user-select-none">Bienveidos</h2>
            <h4 class="user-select-none">Cubiculos UIS</h4>
            <form>
                <input class="ingresarInformacion" type="email">
                <input class="ingresarInformacion" type="password">
            </form>
            <button class="botones btn" [routerLink]="['/piso']">Ingresar</button>
            <a class="recuperarContrasena" href="https://www.google.com">Olvidates la contraseña</a>
            <button class="botones btn">Biblioteca UIS</button>
        </div>
    </div>
</div>
