
<div class="body">
    <div class="fondo">
        <div>
            <img class="logoUIS" src="/assets/login/images.png">
        </div>
        <div class="caja-registro">
            <h2 class="user-select-none">Bienveidos</h2>
            <h4 class="user-select-none">Cubiculos UIS</h4>
            <form >
                <input class="ingresarInformacion" [(ngModel)]="credentials.username" name="username" >
                <input class="ingresarInformacion" [(ngModel)]="credentials.password" name="password" >
            </form>
            <button class="botones btn" type="submit" (click)="login()">Ingresar</button>
            <a class="recuperarContrasena" href="https://www.google.com">Olvidates la contraseña</a>
            <button class="botones btn">Biblioteca UIS</button>
        </div>
    </div>
</div>
