<div class="body">
    <!-- BARRA NAV -->
    <nav class="navbar">
        <div class="logoUis">
            <a class="navbar-brand" href="https://uis.edu.co/">
                <img src="../assets/buscador/Universidad_Industrial_de_Santander_logo.svg.png" alt="Logo Uis">
            </a>
            <h6 class="nombre">
                NOMBRE ESTUDIANTE
            </h6>
        </div>
    </nav>

    <!-- CONTENIDO CENTRAL -->

    <div class="contenido">
        <div class="buscador">
            <h3 class="titulo">BUSCA TU CUBICULO</h3>
            <div class="inputs">
                <div class="col-md-4">
                    <label for="fecha" class="labelBuscador">Fecha</label>
                    <select id="fecha" class="form-select" [(ngModel)]="fecha" (ngModelChange)="onFechaChange()">
                        <option *ngFor="let fecha of fechas">{{ fecha }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="horaInicio" class="labelBuscador">Hora inicio</label>
                    <select id="horaInicio" class="form-select" (ngModelChange)="actualizarHorasFin()" [(ngModel)]="horaInicio">
                        <option *ngFor="let hora of horas">{{ hora }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="horaFin" class="labelBuscador">Hora fin</label>
                    <select id="horaFin" class="form-select" [(ngModel)]="horaFin">
                        <option *ngFor="let hora of horasFinal">{{ hora }}</option>
                    </select>
                </div>                           
                <div class="col-md-4">
                    <label for="capacidad" class="labelBuscador">Capacidad</label>
                    <select id="capacidad" class="form-select" [(ngModel)]="capacidadSeleccionada">
                        <option *ngFor="let item of capacidad">{{ item }}</option>
                    </select>
                </div>
                <a (click)="buscarCubiculos()">
                    <img class="buscar" src="../assets/buscador/image.png" alt="buscar...">
                </a>
            </div>
        </div>

        <!-- RESULTADOS DEL BUSCADOR-->

        <ng-container *ngFor="let cubiculo of consulta">
            <div class="resultadoBuscador">
                <img class="imgCubiculo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs3ssDTecHc5pQFalZ_XcTRu-thpN-kAcGmw&s">
                <div class="informacionResultado">

                    <h4 class="tituloCubiculo">{{cubiculo.idCubiculo}}</h4>

                    <div class="infoCapacidad">
                        <span class="CapacidadCubiculo">Capacidad maxima:</span><span class="detalles">{{cubiculo.capacidad}}</span><span class="detalles">-personas</span>
                    </div>

                    <p class="detalles">{{cubiculo.descripcion}}</p>

                    <div class="botones">
                        <div class="selectorBoton">
                            <div class="horaSeleccion">
                                {{formatHora(cubiculo.fechaHoraInicio)}}
                            </div>
                        </div>
                        <div class="selectorBoton">
                            <div class=" horaSeleccion">
                                {{formatHora(cubiculo.fechaHoraFin)}}
                            </div>
                        </div>
                        <button type="button" class="btn selectorBoton" (click)="openModal(cubiculo)">RESERVAR</button>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>
    
</div>
<app-modal-confirmacion-reserva>
</app-modal-confirmacion-reserva>